<%= simple_form_for(@category) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <% options = nested_set_options(Category) do |i|
    "#{'-' * i.level} #{i.label}"
    end %>
    <%= f.input :parent_id, collection: options %>
    <%= f.input :label %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
